@charset "ISO-8859-1";

body {
	background: #e2e2e2 !important;
}

.navbar-custom {
	background: #009688 !important;
}

.navbar-logo{
	color: white !important;
	text-decoration: none !important;
}
.navbar-logo:hover{
	color: white !important;
}

/* side bar style */
.sidebar {
	width: 22%;
	background-color: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	overflow: auto;
	padding-bottom: 50px;
	z-index: 9999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}
.sidebar a:hover{
	background-color: #e2e2e2;
}
.sidebar .divider{
	height: 0.5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}
.content {
	margin-left: 22%;
}

@media only screen and (max-width: 767px){
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 35px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar .crossbtn{
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 36px;
	cursor: pointer;
}

.search-container {
	position: relative;
}

.search-result {
	position: absolute;
	z-index: 999;
	width: 100%;
	background-color: white;
	padding: 10px;
	border: 1px solid grey;
	display: none;	
}