<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section},${title})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>

	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weigth-bold">Smart Contact Manager</h1>
			<p>Start collecting your contacts in every smarter way. we provide very efficient and smarter way of handling contacts.</p>
			<a th:href="@{/user/dashboard}" class="btn btn-primary text-white">Get Start</a>
		</div>
	</section>

</body>
</html>